* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

/* ======================desktop==========================*/
@media screen and (min-width:1024px){
    *{font-size: 16px;} 
}
/* ======================desktop==========================*/


/* ======================tablet & moblie==========================*/
@media screen and (max-width:1023px){
    *{font-size: 14px;} 
}
/* ======================tablet & moblie==========================*/


/* ======================only mobile==========================*/
@media screen and (max-width: 767px){
    *{font-size: 12px;} 
}
/* ======================only mobile==========================*/
