@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

html,body{
    width: 100%; height: 100%; overflow: hidden;
}

.main {
  width: 100%; height: 100%; 
  text-align: center;
  margin: 0 auto;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

.main img {
  padding-top: 60px;
  width: 35rem;
}

.main h1 {
  width: 100%;
  text-align: center;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(../images/main_text_clip.jpg);
  background-size: 200%;
  background-position: right top;
  background-repeat: no-repeat;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}



.main .click {
  position: absolute; left: 50%; transform: translateX(-50%);
  display: block;
  background-image: url(../images/main_mouse.png);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-left: 8px;
  padding-top: 4.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: click 0.8s infinite alternate;
          animation: click 0.8s infinite alternate;
}

@-webkit-keyframes click {
  from {
    top: 570px;
  }
  to {
    top: 590px;
  }
}



.main .empty {
  margin-top: 210px;
  width: 1px;
  height: 1px;
}

#list {
  width: 100%; height: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
  background-color: #333;
}

/* 추가 */
#list .arrow{
    position: absolute; top: 30px; left: 50%; transform: translate(-50%);
    width: 5vw;
}
#list .arrow img{
    width: 100%;
}
/*추가*/

#list ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#list li a {
  display: block;
  padding-bottom: 5px;
}




#list li .menu__title {
  display: inline-block;
  overflow: hidden;
}


#list li .first,
#list li .second {
  display: inline-block;
  position: relative;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}


/* 변경 */
#list li .first {
  color: #fff;
  font-size: 2rem;
}



#list li .second {
  color: #FBD872;
  font-size: 2rem;
}


/* 변경 */



/* ======================desktop==========================*/
@media screen and (min-width:1024px){
    /* 메인글 */
    h1{
        font-size: 4rem;
    } 
    
    .main h1:hover {
      background-position: left bottom;
    }

    /* click img */
    .main .click {
      width: 4rem;
    }
    
    .main .click:hover {
      background-image: url(../images/main_mouse_over.png);
    }
    
    
    
    /* list */
    #list li a:hover .first, #list li a:focus .first {
      -webkit-transform: translate3d(0, -105%, 0);
              transform: translate3d(0, -105%, 0);
    }

    #list li a:hover .second, #list li a:focus .second {
      -webkit-transform: translate3d(0, 105%, 0);
              transform: translate3d(0, 105%, 0);
    }
    
    #list li .first::before {
      top: 105%;
      color: #FBD872;
      font-size: 2rem;
    }
    
    #list li .second::before {
      bottom: 105%;
      color: #fff;
      font-size: 2rem;
    }
    
    #list li .first::before,
    #list li .second::before {
      position: absolute;
      content: attr(data-hover);
    }
}
/* ======================desktop==========================*/

/* ======================tablet & moblie==========================*/
@media screen and (max-width:1023px){
    /* 메인글 */
    h1{
        font-size: 3rem;
    } 
    /* click img */
    .main .click {
      width: 4rem;
    }
}
/* ======================tablet & moblie==========================*/


/* ======================only mobile==========================*/
@media screen and (max-width: 767px){
    /* 메인글 */
    h1{
        font-size: 2rem;
    } 
    .main img {
      width: 80%;
    }
    /* click img */
    .main .click {
      width: 3.5rem;
    }
    /* list */
    #list li a{
      display: block;
      width: 100%;
    }
    #list li .first,
    #list li .second{
      font-size: 1.3rem;
    }
    
    
    
}
/* ======================only mobile==========================*/

/* ======================only iphone5==========================*/
@media screen and (max-width: 321px){
  /* 메인글 */
  h1{
      font-size: 1.8rem;
  } 
  .main img {
    width: 100%;
  }
  /* click img */
  .main .click {
    width: 3rem;
  }
  
  
}
/* ======================only iphone5==========================*/