@font-face {
  font-family: 'S-CoreDream-2ExtraLight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "S-CoreDream-3Light";
}

html, body {
  background-color: rgba(219, 219, 219, 0.534);
}

.project_list {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}

.project_list li {
  margin: 20px auto;
}

.project_list li a {
  display: block;
  width: 600px;
  height: 100%;
  text-align: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 auto;
  border: 3px solid #fff;
  font-size: 25px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.project_list li a:hover {
  color: #888;
}

.cbtn {
  position: absolute;
  top: -50px;
  left: 15%;
  width: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.cbtn.active {
  position: absolute;
  top: 15px;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.project_intro > li {
  position: absolute;
  top: 0;
  right: -80%;
  display: block;
  width: 80%;
  height: 100%;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  overflow: auto;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.project_intro > li.active {
  position: absolute;
  right: 0;
}

.project_intro > li h3 {
  display: block;
  font-size: 21px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #aaa;
  color: #fff;
  letter-spacing: 8px;
}

.project_intro > li .used {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
}

.project_intro > li .used li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project_intro > li .used li h4 {
  color: #000;
  margin-bottom: 10px;
}

.project_intro > li .used li p {
  color: #333;
}

.project_intro > li a {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 50px;
  font-size: 17px;
  line-height: 50px;
  background-color: #aaa;
  color: #fff;
}
