.wrap{
    padding:70px; padding-top: 0;

    .home{
        img{
            position: absolute; top: 20px; left: 20px;
            width: 40px;
        }
    }

    .title_box{
        position: relative; left: 50%; transform: translateX(-50%);
        width: 350px;height: 350px; 
        .bg{
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(.001deg);
            width:5px; height: 5px; border-radius: 100%; 
            background-image: url(../images/common_titlebg.png);
            background-size: 256px;
            background-repeat: no-repeat;
            background-position: center;
            filter: blur(10px);

            &.active{
                width: 300px;height: 300px; border-radius: 0; transform: translate(-50%, -50%) rotate(.001deg);
                filter: blur(1px); transition: 1.2s;
            }
        }
        h2{
            opacity: 0;
            position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-left: 5px; width: 100%; text-align: center;
            
            &.active{
                opacity: 1;transition: 0.2s; transition-delay: 0.8s;
            }
        }
        
    }
}